html
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
    height 100%
    margin 0
    font-family 'Architects Daughter', cursive

body
    background #c1c1c1
    background -webkit-linear-gradient(#c1c1c1, white, #c1c1c1)
    background -o-linear-gradient(#c1c1c1, white, #c1c1c1)
    background -moz-linear-gradient(#c1c1c1, white, #c1c1c1)
    background linear-gradient(#c1c1c1, white, #c1c1c1)


#introPage, #singlePage, #multiPage, #videoPage
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto

#introPage
    display block
    height 650px
    width 850px

#introText
    width 850px
    height 260px
    margin 10px auto

#introText p, #multiText p
    font-size 40px
    text-align center
    margin 0 auto 20px auto

#buttonContainer
    width 700px
    height 75px
    margin 50px auto

#sp, #mp, #sp1, #mp1
    font-size 35px
    width 250px
    height 75px
    float right
    line-height 75px
    text-align center
    color white
    background-color #00006c
    border-radius 25px
    cursor pointer

#sp
    float left

#sp1
    margin 69px 20px 0 0

#mp1
    margin 50px 20px 0 0

#homeHangman, #hangman
    display block
    margin 50px auto 0 auto
    border 1px solid black

#singlePage
    display none
    height 560px
    width 845px
    p
        font-size 40px
        margin 0px auto 40px auto
        text-align center

#categoryHolder
    width 100%
    height 335px

#category
    width 700px
    height 335px
    margin 0 auto

#category1, #category2
    float left
    width 700px
    height 150px

#category1
    margin-bottom 30px

#phrases, #movies, #songs, #challenge
    float left
    width 48%
    height 100%
    font-size 70px
    line-height 150px
    text-align center
    border 1px solid black
    cursor pointer

#challenge, #movies
    float right

#phrases
    background #000081
    background -webkit-linear-gradient(left, #000081, white)
    background -o-linear-gradient(left, #000081, white)
    background -moz-linear-gradient(left, #000081, white)
    background linear-gradient(to right, #000081, white)

#movies
    background #147b14
    background -webkit-linear-gradient(left, white, #147b14)
    background -o-linear-gradient(right, white, #147b14)
    background -moz-linear-gradient(right, white, #147b14)
    background linear-gradient(to right, white, #147b14)

#songs
    background #bc7a00
    background -webkit-linear-gradient(left, #bc7a00, white)
    background -o-linear-gradient(left, #bc7a00, white)
    background -moz-linear-gradient(left, #bc7a00, white)
    background linear-gradient(to right, #bc7a00, white)

#challenge
    background #b10000
    background -webkit-linear-gradient(left, white, #b10000)
    background -o-linear-gradient(right, white, #b10000)
    background -moz-linear-gradient(right, white, #b10000)
    background linear-gradient(to right, white, #b10000)