doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Game Hangman
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='scripts/main.js')
    script.
      window.onload = draw;
  
  body
    #introPage
     #introText
        p Welcome to Game Hangman!
        p Select single player or multiplayer to begin!
        #buttonContainer
          #sp(onclick='sp()') Single player
          #mp(onclick='mp()') Multiplayer
      canvas#homeHangman(width='300px', height='300px')          
    #singlePage
      p Pick a category:
      #categoryHolder
        #category
          #category1
            #phrases(onclick='phrase()') Phrases
            #movies(onclick='movie()') Movies
          #category2
            #songs(onclick='song()') Songs
            #challenge(onclick='challenge()') Challenge     
        #mp1(onclick='mp()') Multiplayer       
    #multiPage
      #wordInput
        #multiText
          p The phrase guesser should look away from the screen now.
          p Phrase creator, type your phrase and click submit!
        #inputContainer
          textarea#input(cols='40', rows='5', onkeyup="countChars('input','charcount');", onkeydown="countChars('input','charcount');", onmouseout="countChars('input','charcount');")
          span#restriction
            | Only special characters allowed: 
            span(style='font-weight: 700;') ? ! , . ' –
        #characterCount
          p#charContain
            span#charcount 0
            | /100 characters
          #submit(onclick='readText()') Submit
        #sp1(onclick='sp()') Single player
    #gamePage
      p#categoryName
      #wordWrap
        #underline1
          #letter1
        #underline2
          #letter2
        #underline3
          #letter3
        #underline4
          #letter4
        #underline5
          #letter5
        #underline6
          #letter6
        #underline7
          #letter7
        #underline8
          #letter8
        #underline9
          #letter9
        #underline10
          #letter10
        #underline11
          #letter11
        #underline12
          #letter12
        #underline13
          #letter13
        #underline14
          #letter14
        #underline15
          #letter15
        #underline16
          #letter16
        #underline17
          #letter17
        #underline18
          #letter18
        #underline19
          #letter19
        #underline20
          #letter20
        #underline21
          #letter21
        #underline22
          #letter22
        #underline23
          #letter23
        #underline24
          #letter24
        #underline25
          #letter25
        #underline26
          #letter26
        #underline27
          #letter27
        #underline28
          #letter28
        #underline29
          #letter29
        #underline30
          #letter30
        #underline31
          #letter31
        #underline32
          #letter32
        #underline33
          #letter33
        #underline34
          #letter34
        #underline35
          #letter35
        #underline36
          #letter36
        #underline37
          #letter37
        #underline38
          #letter38
        #underline39
          #letter39
        #underline40
          #letter40
        #underline41
          #letter41
        #underline42
          #letter42
        #underline43
          #letter43
        #underline44
          #letter44
        #underline45
          #letter45
        #underline46
          #letter46
        #underline47
          #letter47
        #underline48
          #letter48
        #underline49
          #letter49
        #underline50
          #letter50
        #underline51
          #letter51
        #underline52
          #letter52
        #underline53
          #letter53
        #underline54
          #letter54
        #underline55
          #letter55
        #underline56
          #letter56
        #underline57
          #letter57
        #underline58
          #letter58
        #underline59
          #letter59
        #underline60
          #letter60
        #underline61
          #letter61
        #underline62
          #letter62
        #underline63
          #letter63
        #underline64
          #letter64
        #underline65
          #letter65
        #underline66
          #letter66
        #underline67
          #letter67
        #underline68
          #letter68
        #underline69
          #letter69
        #underline70
          #letter70
        #underline71
          #letter71
        #underline72
          #letter72
        #underline73
          #letter73
        #underline74
          #letter74
        #underline75
          #letter75
        #underline76
          #letter76
        #underline77
          #letter77
        #underline78
          #letter78
        #underline79
          #letter79
        #underline80
          #letter80
        #underline81
          #letter81
        #underline82
          #letter82
        #underline83
          #letter83
        #underline84
          #letter84
        #underline85
          #letter85
        #underline86
          #letter86
        #underline87
          #letter87
        #underline88
          #letter88
        #underline89
          #letter89
        #underline90
          #letter90
        #underline91
          #letter91
        #underline92
          #letter92
        #underline93
          #letter93
        #underline94
          #letter94
        #underline95
          #letter95
        #underline96
          #letter96
        #underline97
          #letter97
        #underline98
          #letter98
        #underline99
          #letter99
        #underline100
          #letter100
      canvas#hangman(width='300px', height='300px')
      #results
      #letterBank
        #a(value='A', onclick='guessLetter()') A
        #b(value='B', onclick='guessLetter()') B
        #c(value='C', onclick='guessLetter()') C
        #d(value='D', onclick='guessLetter()') D
        #e(value='E', onclick='guessLetter()') E
        #f(value='F', onclick='guessLetter()') F
        #g(value='G', onclick='guessLetter()') G
        #h(value='H', onclick='guessLetter()') H
        #i(value='I', onclick='guessLetter()') I
        #j(value='J', onclick='guessLetter()') J
        #k(value='K', onclick='guessLetter()') K
        #l(value='L', onclick='guessLetter()') L
        #m(value='M', onclick='guessLetter()') M
        #n(value='N', onclick='guessLetter()') N
        #o(value='O', onclick='guessLetter()') O
        #p(value='P', onclick='guessLetter()') P
        #q(value='Q', onclick='guessLetter()') Q
        #r(value='R', onclick='guessLetter()') R
        #s(value='S', onclick='guessLetter()') S
        #t(value='T', onclick='guessLetter()') T
        #u(value='U', onclick='guessLetter()') U
        #v(value='V', onclick='guessLetter()') V
        #w(value='W', onclick='guessLetter()') W
        #x(value='X', onclick='guessLetter()') X
        #y(value='Y', onclick='guessLetter()') Y
        #z(value='Z', onclick='guessLetter()') Z

      #challengeBank
        #a(value='A', onclick='challengeGuess()') A
        #b(value='B', onclick='challengeGuess()') B
        #c(value='C', onclick='challengeGuess()') C
        #d(value='D', onclick='challengeGuess()') D
        #e(value='E', onclick='challengeGuess()') E
        #f(value='F', onclick='challengeGuess()') F
        #g(value='G', onclick='challengeGuess()') G
        #h(value='H', onclick='challengeGuess()') H
        #i(value='I', onclick='challengeGuess()') I
        #j(value='J', onclick='challengeGuess()') J
        #k(value='K', onclick='challengeGuess()') K
        #l(value='L', onclick='challengeGuess()') L
        #m(value='M', onclick='challengeGuess()') M
        
      #again(onclick='reset()') Play again!
      #home(onclick='window.location.reload()') Main menu

