doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Game Hangman
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Architects+Daughter|Gloria+Hallelujah', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='scripts/main.js')
    script.
      window.onload = draw;
  
  body
    #introPage
     #introText
        p Welcome to Game Hangman!
        p Select single player or multiplayer to begin!
        #buttonContainer
          #sp(onclick='sp()') Single player
          #mp(onclick='mp()') Multiplayer
      canvas#homeHangman(width='300px', height='300px')          
    #singlePage
      p Pick a category:
      #categoryHolder
        #category
          #category1
            #phrases(onclick='phrase()') Phrases
            #movies(onclick='movie()') Movies
          #category2
            #songs(onclick='song()') Songs
            #challenge(onclick='challenge()') Challenge     
        #mp1(onclick='mp()') Multiplayer       
    #multiPage
      #wordInput
        #multiText
          p The phrase guesser should look away from the screen now.
          p Phrase creator, type your phrase and click submit!
        #inputContainer
          textarea#input(cols='40', rows='5', onkeyup="countChars('input','charcount');", onkeydown="countChars('input','charcount');", onmouseout="countChars('input','charcount');")
          span#restriction
            | Only special characters allowed: 
            span(style='font-weight: 700;') ? ! , . ' –